---
import IconMetro from "./icon-metro.astro"

const { stop, exit} = Astro.props
---

<div class="transport-parada">
  <IconMetro />
  <p>{stop} <span>{exit}</span></p>
</div>

<style>
  @import "../../css/global.scss";

  div {
    display: flex;
    align-items: center;
    margin-top: .5rem;

    span {
      font-style: italic;
    }
  }
</style>