---
import Layout from "../layouts/DefaultLayout.astro"

import Hero from "../components/HeroIndex.astro"
import Rodoreda from "../components/RodoredaIndex.astro"
import Escola from "../components/EscolaIndex.astro"
import Formacio from "../components/FormacioIndex.astro"
import PuntaBarcelona from "../components/PuntaBarcelonaIndex.astro"
import Estils from "../components/EstilsIndex.astro"
import Faqs from "../components/FaqsIndex.astro"
import Visitans from "../components/VisitansIndex.astro"
import Links from "../components/LinksIndex.astro"

const pageTitle = "Benvinguts"
---

<Layout pageTitle={pageTitle}>
  <Hero />
  <main>
    <div class="observer">
      <Rodoreda />
    </div>
    <div class="observer">
      <Escola />
    </div>
    <div class="observer">
      <Formacio />
    </div>
    <div class="observer">
      <PuntaBarcelona />
    </div>
    <div class="observer">
      <Estils />
    </div>
    <div class="observer">
      <Faqs />
    </div>
    <div class="observer">
    <Visitans />
    </div>
    <Links />
  </main>
</Layout>

<style lang="scss">
  @import "../css/global";

  main {
    min-height: 100vh;
    margin: 0 auto;
  }
</style>
