---

---

<section id="estils" class="color-section capcelera">
  <article class="wrapper">
    <h2>Estils i mostres</h2>
    <p>L’origen de la punta és incert, però sí que sabem que el <em>punt a l’agulla</em> deriva del brodat i la <em>punta al coixí</em>, del teixit.</p>
    <p>Possiblement tot comenci amb l'antic art del <a href="https://ca.wikipedia.org/wiki/Macram%C3%A9" title="Enllaça amb la Viquipèdia" target="_blank">macramé<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
          <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
        </svg></a>, paraula d'origen àrab que significa <em>nus</em>.
    </p>
    <p>A partir d'aquí podem trobar diferents tècniques, estils i variants com les <em>malles</em>, les puntes populars catalanes, conegudes vulgarment com <em>puntes al coixí</em>, les puntes amb coixí rodó i la punta a l'agulla.</p>


    <div class="images">
      <div>
        <div class="image">
          <img src="/assets/images/macrame.webp" alt="Imatge d'una peça de macramé.">
        </div>
        <p>Peça de macramé.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/malla-paraguaiana.webp" alt="Imatge d'una peça de malla paraguaiana.">
        </div>
        <p>Peça de malla paraguaiana.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/malla-de-sargit.webp" alt="Imatge d'una peça de malla de sargit.">
        </div>
        <p>Peça de malla de sargit.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/malla-sargit-argentina.webp" alt="Imatge d'una peça de malla de sargit d'Argentina.">
        </div>
        <p>Peça de malla de sargit d'Argentina.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/malla-guipur.webp" alt="Imatge d'una peça de malla de guipur.">
        </div>
        <p>Peça de malla de guipur.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/malla-fil-tret.webp" alt="Imatge d'una peça de fil tret.">
        </div>
        <p>Peça de fil tret.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/malla-punt-tallat.webp" alt="Imatge d'una peça de punt tallat.">
        </div>
        <p>Peça de punt tallat.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/malla-punt-de-siena.webp" alt="Imatge d'una peça de punt de Siena.">
        </div>
        <p>Peça de punt de Siena.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/malla-punt-de-judea.webp" alt="Imatge d'una peça de punt de Judea.">
        </div>
        <p>Peça de punt de Judea.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/rodo-punta-estudi.webp" alt="Imatge d'una peça de punta al coixí rodó.">
        </div>
        <p>Peça de punta de fantasia amb coixí rodó.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/rodo-punta-de-mila.webp" alt="Imatge d'una peça de punta de Milà.">
        </div>
        <p>Peça de punta de Milà.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/rodo-punta-de-brusseles.webp" alt="Imatge d'una peça de punta de Brussel·les.">
        </div>
        <p>Peça de punta de Brussel·les.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/rodo-punta-chantilly.webp" alt="Imatge d'una peça de punta de Chantilly o vol i boixet.">
        </div>
        <p>Peça de punta de Chantilly o vol i boixet.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/rodo-punta-anglaterra.webp" alt="Imatge d'una peça de punt d'Anglaterra.">
        </div>
        <p>Peça de punt d'Anglaterra.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/rodo-rosalina-perlada.webp" alt="Imatge d'una peça de rosalina perlada.">
        </div>
        <p>Peça de rosalina perlada.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/rodo-duquessa-classica-de-bruges.webp" alt="Imatge d'una peça de duquessa clàssica de Bruges.">
        </div>
        <p>Peça de duquessa clàssica de Bruges.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/agulla-estudi.webp" alt="Imatge d'una peça de punta a l'agulla.">
        </div>
        <p>Estudi de punta a l'agulla.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/agulla-lacis-empuntillat.webp" alt="Imatge d'una peça de lacis empuntillat.">
        </div>
        <p>Peça de lacis empuntillat.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/agulla-venecia-de-relleu.webp" alt="Imatge d'una peça de Venècia de relleu.">
        </div>
        <p>Peça de Venècia de relleu.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/agulla-reticella-florentina.webp" alt="Imatge d'una peça de reticel·la florentina.">
        </div>
        <p>Peça de reticel·la florentina.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/agulla-rosalina-perlada.webp" alt="Imatge d'una peça de rosalina perlada.">
        </div>
        <p>Peça de rosalina perlada.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/agulla-punt-catalunya.webp" alt="Imatge d'una peça de punt de Catalunya.">
        </div>
        <p>Peça de punt de Catalunya.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/agulla-punt-franca.webp" alt="Imatge d'una peça de punt de França.">
        </div>
        <p>Peça de punt de França.</p>
      </div>
      <div>
        <div class="image">
          <img src="/assets/images/agulla-punt-de-sedan.webp" alt="Imatge d'una peça de punt de Sedan.">
        </div>
        <p>Peça de punt de Sedan.</p>
      </div>
    </div>
  </article>
</section>

<style lang="scss">
  @import "../css/global";

  .wrapper {
    padding: var(--padding-section) 0;
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
  }

  h2 {
    width: 100%;
    margin-bottom: 2rem;
    font-family: var(--font-title);
  }

  p {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }


  .color-section {
    background-color: transparent;
  }

  article {
    width: 100%;
    max-width: 960px;
  }

  p {
    margin-bottom: 1rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    width: 100%;
  }

  a {
    font-style: italic;
    text-decoration: underline dotted 1px;
    color: currentColor;
    transition: all .3s ease-in-out;

    svg {
      $size: 10px;
      width: $size;
      height: $size;
      color: currentColor ;
      margin-left: 4px;
      vertical-align: super;
    }

    &:hover {
      color: $fg-color-title;
      transition: all .3s ease-in-out;
    }
  }

  .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    margin-top: 64px;
    width: 100%;

    div {
      position: relative;
      .image {
        $size: 250px;
        background: $bg-dark;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $size;
        height: $size;
        box-shadow: var(--box-shadow2);

        img {
          $size: 218px;
          width: $size;
          height: $size;
          object-fit: contain;
        }
      }
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(#00684F, .8);
      font-family: var(--font-default);
      font-style: italic;
      font-size: 16px;
      color: $fg-color-title;
      text-align: center;
      padding: .2rem 0;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
</style>