---
import Accordion from "../components/accordion.astro"
---

<section id="faqs" class="color-section">
  <div class="wrapper-section">
    <h2>Preguntes freqüents</h2>
    <ul>
      <Accordion ask="Com puc contactar amb l'Escola?">
        <p>Ho pots fer mitjançant el correu electrònic a l'adreça <em>info@puntairesbcn.cat</em>, trucar al telèfon <em>933342802</em> o presencialment al <em>carrer de Sant Erasme, 1 de <i>Ciutat Vella</i> de Barcelona.</em></p>
      </Accordion>
      <Accordion ask="Què puc fer a l'Escola?">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cupiditate expedita non sunt ullam? Adipisci, aspernatur delectus deserunt dolores dolorum earum laudantium molestiae nesciunt quidem repellat, sint totam veritatis! Aliquam animi deserunt eligendi excepturi expedita hic illum iusto, laboriosam magnam neque numquam, obcaecati officia quibusdam quidem quod, sunt tempora temporibus?</p>
      </Accordion>
      <Accordion ask="Quins son els preus?">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur, error id ipsa nobis obcaecati officiis velit vitae. Aliquam aut commodi distinctio in laborum magni quod sint soluta. Adipisci aliquam, aspernatur distinctio dolores ducimus ea eligendi fugit iste maiores minima nesciunt nobis possimus praesentium quae, quia quibusdam quisquam saepe, voluptates.</p>
      </Accordion>
      <Accordion ask="Puc aprendre dibuix?">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet aperiam aut commodi corporis culpa cupiditate debitis doloribus dolorum esse eveniet ex expedita fugit id in incidunt iste itaque laudantium maxime nam necessitatibus, nostrum nulla officia optio, quibusdam quo quod ratione similique temporibus tenetur veniam vero voluptatem. Eius, illum!</p>
      </Accordion>
      <Accordion ask="Soc home, hi puc venir?">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet aperiam aut commodi corporis culpa cupiditate debitis doloribus dolorum esse eveniet ex expedita fugit id in incidunt iste itaque laudantium maxime nam necessitatibus, nostrum nulla officia optio, quibusdam quo quod ratione similique temporibus tenetur veniam vero voluptatem. Eius, illum!</p>
      </Accordion>
      <Accordion ask="Puc fer classes particulars esporàdiques?">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet aperiam aut commodi corporis culpa cupiditate debitis doloribus dolorum esse eveniet ex expedita fugit id in incidunt iste itaque laudantium maxime nam necessitatibus, nostrum nulla officia optio, quibusdam quo quod ratione similique temporibus tenetur veniam vero voluptatem. Eius, illum!</p>
      </Accordion>
      <Accordion ask="Setena pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet aperiam aut commodi corporis culpa cupiditate debitis doloribus dolorum esse eveniet ex expedita fugit id in incidunt iste itaque laudantium maxime nam necessitatibus, nostrum nulla officia optio, quibusdam quo quod ratione similique temporibus tenetur veniam vero voluptatem. Eius, illum!</p>
      </Accordion>
    </ul>
  </div>
</section>

<style>
  ul {
    width: 100%;

    p {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>