---
import Accordion from "../components/accordion.astro"
---

<section class="color-section">
  <div class="wrapper-section">
    <h2>Preguntes freqüents</h2>
    <ul>
      <Accordion ask="Primera pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda earum inventore ipsum itaque iure odio ut vero. Aliquam animi blanditiis delectus dignissimos distinctio eligendi fugit in mollitia officiis sint, tempora tempore, ullam velit! Alias assumenda, deleniti doloremque ea esse et illo ipsum iste laudantium magnam, optio quos rem repellat? Reiciendis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium, asperiores cupiditate eaque eos est et expedita incidunt iste laboriosam nihil, nulla quam quisquam saepe!</p>
      </Accordion>
      <Accordion ask="Segona pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cupiditate expedita non sunt ullam? Adipisci, aspernatur delectus deserunt dolores dolorum earum laudantium molestiae nesciunt quidem repellat, sint totam veritatis! Aliquam animi deserunt eligendi excepturi expedita hic illum iusto, laboriosam magnam neque numquam, obcaecati officia quibusdam quidem quod, sunt tempora temporibus?</p>
      </Accordion>
      <Accordion ask="Tercera pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur, error id ipsa nobis obcaecati officiis velit vitae. Aliquam aut commodi distinctio in laborum magni quod sint soluta. Adipisci aliquam, aspernatur distinctio dolores ducimus ea eligendi fugit iste maiores minima nesciunt nobis possimus praesentium quae, quia quibusdam quisquam saepe, voluptates.</p>
      </Accordion>
      <Accordion ask="Quarta pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet aperiam aut commodi corporis culpa cupiditate debitis doloribus dolorum esse eveniet ex expedita fugit id in incidunt iste itaque laudantium maxime nam necessitatibus, nostrum nulla officia optio, quibusdam quo quod ratione similique temporibus tenetur veniam vero voluptatem. Eius, illum!</p>
      </Accordion>
      <Accordion ask="Cinquena pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet aperiam aut commodi corporis culpa cupiditate debitis doloribus dolorum esse eveniet ex expedita fugit id in incidunt iste itaque laudantium maxime nam necessitatibus, nostrum nulla officia optio, quibusdam quo quod ratione similique temporibus tenetur veniam vero voluptatem. Eius, illum!</p>
      </Accordion>
      <Accordion ask="Sisena pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet aperiam aut commodi corporis culpa cupiditate debitis doloribus dolorum esse eveniet ex expedita fugit id in incidunt iste itaque laudantium maxime nam necessitatibus, nostrum nulla officia optio, quibusdam quo quod ratione similique temporibus tenetur veniam vero voluptatem. Eius, illum!</p>
      </Accordion>
      <Accordion ask="Setena pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet aperiam aut commodi corporis culpa cupiditate debitis doloribus dolorum esse eveniet ex expedita fugit id in incidunt iste itaque laudantium maxime nam necessitatibus, nostrum nulla officia optio, quibusdam quo quod ratione similique temporibus tenetur veniam vero voluptatem. Eius, illum!</p>
      </Accordion>
    </ul>
  </div>
</section>

<style>
  ul {
    width: 100%;

    p {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>