---

---

<section>
  <div>
    <a href="#" title="Avís legal">Avís legal</a>
    <a href="#" title="Política de privacitat">Política de privacitat</a>
    <a href="#" title="Política de cookies">Política de cookies</a>
  </div>
</section>

<style lang="scss">
  @import "../css/variables";

  div {
    margin: 0 auto;
    padding: 0 0 32px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 32px;

    @media (width >= 640px) {
      flex-direction: row;
    }

    a {
      color: $fg-color-title;
      text-decoration: none;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (width >= 640px) {
        margin-bottom: 0;
      }

      &:hover {
        text-decoration: underline 1px dotted;
      }
    }
  }
</style>