---

---

<section class="color-section links">
  <div class="wrapper-section">

  </div>
</section>

<style lang="scss">
  @import "../css/global";

  .links {
    background: linear-gradient(90deg, #917E41 0%, #F7D66F 100%);
  }

  .wrapper-section {
    background-color: chocolate;
  }
</style>

