---
import Logo from "./logo.astro"
import Email from "./email.astro"
---

<section>
  <div class="wrapper">
    <div class="logo">
      <Logo />
    </div>
    <div class="menu-map">
      <h4>Mapa del web</h4>
      <nav>
        <ul>
          <li>
            <a href="#" title="">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.1004C17.302 22.1004 21.6 17.8023 21.6 12.5004C21.6 7.19846 17.302 2.90039 12 2.90039C6.69809 2.90039 2.40002 7.19846 2.40002 12.5004C2.40002 17.8023 6.69809 22.1004 12 22.1004ZM16.4486 11.6519L12.8486 8.05186C12.3799 7.58323 11.6201 7.58323 11.1515 8.05186C10.6829 8.52049 10.6829 9.28029 11.1515 9.74892L12.703 11.3004L8.40002 11.3004C7.73728 11.3004 7.20002 11.8376 7.20002 12.5004C7.20002 13.1631 7.73728 13.7004 8.40002 13.7004H12.703L11.1515 15.2519C10.6829 15.7205 10.6829 16.4803 11.1515 16.9489C11.6201 17.4175 12.3799 17.4175 12.8486 16.9489L16.4486 13.3489C16.9172 12.8803 16.9172 12.1205 16.4486 11.6519Z" />
              </svg>
              <span>L'escola</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.1004C17.302 22.1004 21.6 17.8023 21.6 12.5004C21.6 7.19846 17.302 2.90039 12 2.90039C6.69809 2.90039 2.40002 7.19846 2.40002 12.5004C2.40002 17.8023 6.69809 22.1004 12 22.1004ZM16.4486 11.6519L12.8486 8.05186C12.3799 7.58323 11.6201 7.58323 11.1515 8.05186C10.6829 8.52049 10.6829 9.28029 11.1515 9.74892L12.703 11.3004L8.40002 11.3004C7.73728 11.3004 7.20002 11.8376 7.20002 12.5004C7.20002 13.1631 7.73728 13.7004 8.40002 13.7004H12.703L11.1515 15.2519C10.6829 15.7205 10.6829 16.4803 11.1515 16.9489C11.6201 17.4175 12.3799 17.4175 12.8486 16.9489L16.4486 13.3489C16.9172 12.8803 16.9172 12.1205 16.4486 11.6519Z" />
              </svg>
              <span>Formació</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.1004C17.302 22.1004 21.6 17.8023 21.6 12.5004C21.6 7.19846 17.302 2.90039 12 2.90039C6.69809 2.90039 2.40002 7.19846 2.40002 12.5004C2.40002 17.8023 6.69809 22.1004 12 22.1004ZM16.4486 11.6519L12.8486 8.05186C12.3799 7.58323 11.6201 7.58323 11.1515 8.05186C10.6829 8.52049 10.6829 9.28029 11.1515 9.74892L12.703 11.3004L8.40002 11.3004C7.73728 11.3004 7.20002 11.8376 7.20002 12.5004C7.20002 13.1631 7.73728 13.7004 8.40002 13.7004H12.703L11.1515 15.2519C10.6829 15.7205 10.6829 16.4803 11.1515 16.9489C11.6201 17.4175 12.3799 17.4175 12.8486 16.9489L16.4486 13.3489C16.9172 12.8803 16.9172 12.1205 16.4486 11.6519Z" />
              </svg>
              <span>Punta de Barcelona</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.1004C17.302 22.1004 21.6 17.8023 21.6 12.5004C21.6 7.19846 17.302 2.90039 12 2.90039C6.69809 2.90039 2.40002 7.19846 2.40002 12.5004C2.40002 17.8023 6.69809 22.1004 12 22.1004ZM16.4486 11.6519L12.8486 8.05186C12.3799 7.58323 11.6201 7.58323 11.1515 8.05186C10.6829 8.52049 10.6829 9.28029 11.1515 9.74892L12.703 11.3004L8.40002 11.3004C7.73728 11.3004 7.20002 11.8376 7.20002 12.5004C7.20002 13.1631 7.73728 13.7004 8.40002 13.7004H12.703L11.1515 15.2519C10.6829 15.7205 10.6829 16.4803 11.1515 16.9489C11.6201 17.4175 12.3799 17.4175 12.8486 16.9489L16.4486 13.3489C16.9172 12.8803 16.9172 12.1205 16.4486 11.6519Z" />
              </svg>
              <span>Ofici singular</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.1004C17.302 22.1004 21.6 17.8023 21.6 12.5004C21.6 7.19846 17.302 2.90039 12 2.90039C6.69809 2.90039 2.40002 7.19846 2.40002 12.5004C2.40002 17.8023 6.69809 22.1004 12 22.1004ZM16.4486 11.6519L12.8486 8.05186C12.3799 7.58323 11.6201 7.58323 11.1515 8.05186C10.6829 8.52049 10.6829 9.28029 11.1515 9.74892L12.703 11.3004L8.40002 11.3004C7.73728 11.3004 7.20002 11.8376 7.20002 12.5004C7.20002 13.1631 7.73728 13.7004 8.40002 13.7004H12.703L11.1515 15.2519C10.6829 15.7205 10.6829 16.4803 11.1515 16.9489C11.6201 17.4175 12.3799 17.4175 12.8486 16.9489L16.4486 13.3489C16.9172 12.8803 16.9172 12.1205 16.4486 11.6519Z" />
              </svg>
              <span>Estils i mostres</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.1004C17.302 22.1004 21.6 17.8023 21.6 12.5004C21.6 7.19846 17.302 2.90039 12 2.90039C6.69809 2.90039 2.40002 7.19846 2.40002 12.5004C2.40002 17.8023 6.69809 22.1004 12 22.1004ZM16.4486 11.6519L12.8486 8.05186C12.3799 7.58323 11.6201 7.58323 11.1515 8.05186C10.6829 8.52049 10.6829 9.28029 11.1515 9.74892L12.703 11.3004L8.40002 11.3004C7.73728 11.3004 7.20002 11.8376 7.20002 12.5004C7.20002 13.1631 7.73728 13.7004 8.40002 13.7004H12.703L11.1515 15.2519C10.6829 15.7205 10.6829 16.4803 11.1515 16.9489C11.6201 17.4175 12.3799 17.4175 12.8486 16.9489L16.4486 13.3489C16.9172 12.8803 16.9172 12.1205 16.4486 11.6519Z" />
              </svg>
              <span>Preguntes freqüents</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.1004C17.302 22.1004 21.6 17.8023 21.6 12.5004C21.6 7.19846 17.302 2.90039 12 2.90039C6.69809 2.90039 2.40002 7.19846 2.40002 12.5004C2.40002 17.8023 6.69809 22.1004 12 22.1004ZM16.4486 11.6519L12.8486 8.05186C12.3799 7.58323 11.6201 7.58323 11.1515 8.05186C10.6829 8.52049 10.6829 9.28029 11.1515 9.74892L12.703 11.3004L8.40002 11.3004C7.73728 11.3004 7.20002 11.8376 7.20002 12.5004C7.20002 13.1631 7.73728 13.7004 8.40002 13.7004H12.703L11.1515 15.2519C10.6829 15.7205 10.6829 16.4803 11.1515 16.9489C11.6201 17.4175 12.3799 17.4175 12.8486 16.9489L16.4486 13.3489C16.9172 12.8803 16.9172 12.1205 16.4486 11.6519Z" />
              </svg>
              <span>Contacta</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="contacta">
      <div class="data">
        <h4>Contacta</h4>
        <ul>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            <span>C/ Sant Erasme, 1 - 08001 - Barcelona</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span>+34 933 296 538</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
              <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
            </svg>
            <Email typeClass="hola" />
          </li>
        </ul>
      </div>
      <div class="xxss">
        <h4>Xarxes socials</h4>
        <ul>
          <li>
            <a href="#" title="" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" title="" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../css/variables";

  section {
    padding: var(--padding-section) 0;
    font-size: 18px;
    font-weight: 400;
  }

  h4 {
    font-family: var(--font-title);
    font-size: 24px;
    margin-bottom: 8px;
  }

  .wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: $fg-color-title;
  }

  .logo {
    width: 200px;
  }

  .menu-map {
    li {
      margin-bottom: 4px;
    }

    a {
      color: $fg-color-light;
      text-decoration: none;
      display: flex;

      &:hover {
        color: $fg-color-title;
        text-decoration: underline dotted $fg-color-title;
      }

      svg {
        margin-right: 4px;
        color: $fg-color-title;
      }
    }
  }

  .data {
    margin-bottom: 32px;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 4px;

      svg {
        margin-right: 4px;
      }

      span {
        color: $fg-color-light;
        font-weight: 400;
      }
    }
  }

  .xxss {
    ul {
      display: flex;
      gap: 1rem;
    }

    a {
      color: $fg-color-title;
    }

    svg {
      $size: 32px;
      width: $size;
      height: $size;
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.2);
        transition: all .3s ease-in-out;
      }
    }
  }
</style>