---
import CardRuta from "../components/card-ruta.astro"
---

<section id="puntabarcelona" class="color-section full-height">
  <div class="wrapper-index-section">
    <article >
      <h2>Punta de Barcelona, <em>ofici singular</em></h2>
      <p><strong>La Punta de Barcelona</strong> és l’art de combinar el 50% de punta al coixí i l’altra 50% de punta a l’agulla.</p>
      <p>Va ser creada a mitjans del segle XX per les germanes Raventós en motiu del <strong>Congrés Eucarístic de Barcelona</strong>.</p>
      <p>Es poden trobar mostres d’aquesta tècnica a la <a href="https://catedralbcn.org/" title="Enllaça amb el web de la Catedral de Barcelona" target="_blank">Catedral de Barcelona <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
          </svg></a> i a la <a href="https://sagradafamilia.org/home" title="Enllaça amb el web de la Basílica de la Sagrada Família de Barcelona" target="_blank">Basílica de la Sagrada Família de Barcelona <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
          <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
        </svg></a>.
         També es poden trobar mostres al museu de l'<strong>Escola de Puntaires</strong>.</p>
      <img src="/assets/images/punta-de-barcelona.png" alt="Imatge d'una Punta de Barcelona">
    </article>
    <article>
      <h2>Ofici singular</h2>
      <p>Catalunya presenta una àmplia varietat de sòls i climes, a més de les múltiples aportacions culturals fetes al llarg dels segles, de la tradició i l'esperit innovador dels seus artesans i artesanes, motius pels quals gaudeix arreu del territori de manifestacions artesanes de gran rellevància i representativitat.</p>
      <p>Catalunya gaudeix arreu del seu territori de  manifestacions artesanes de gran rellevància i representativitat.  Activitats artesanes que són pròpies i exclusives de diferents zones.</p>
      <p><i>Oficis Singulars</i> és un projecte que reconeix la identitat d'alguns oficis que ens són  propis, és a dir, oficis i productes únics i molt vinculats a la població o demarcació dels quals són originals.</p>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bs4O46iUjKM?si=hGYNIcmNvvOoI2Xv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <a href="https://ccam.gencat.cat/ca/inici" title="Porta al web del Consorci de Comerç, Artesania i Moda de Catalunya" target="_blank">
          <span>Generalitat de Catalunya. Departament d'Empresa i Treball</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
          </svg>
        </a>
      </div>
      <p>Des del Consorci de Comerç, Artesania i Moda de Catalunya ens proposem descobrir el patrimoni i la riquesa artesanal catalana a través de nou rutes que cobreixen les zones geogràfiques de <strong>l’Alt Pirineu i Aran</strong>, <strong>Barcelona Ciutat</strong>, <strong>Catalunya Central</strong>, <strong>Comarques de Barcelona</strong>, <strong>Comarques de Girona</strong>, <strong>Comarques de Lleida</strong>, <strong>Comarques de Tarragona</strong>, <strong>Penedès</strong> i <strong>Terres de l’Ebre</strong>.</p>
      <p>Museus amb exposicions, visites guiades i activitats per a totes les edats. Centres d’interpretació on coneixereu les interioritats dels oficis artesans; tallers on podreu gaudir de l’experiència de produir la vostra pròpia peça o senzillament on podreu veure com treballen la matèria i la tècnica els nostres artesans i artesanes.</p>
      <p>Nou rutes que us portaran a gaudir de l’artesania, i també del paisatge i la natura de Catalunya, de la gastronomia de cada zona i d’activitats lúdiques i esportives pròpies de cada territori.</p>
      <p>Nou recorreguts per fer en família, en parella o de manera individual, de manera completa o per etapes.</p>
      <div>
        <ul class="cards-rutes">
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/catalunya_central/"
            image="/assets/images/ccam-catalunya-central.jpg"
            title="Catalunya Central" />
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/comarques_barcelona/"
            image="/assets/images/ccam-comarques-de-barcelona.jpg"
            title="Comarques de Barcelona" />
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/ciutat_barcelona/"
            image="/assets/images/ccam-barcelona-ciutat.jpg"
            title="Barcelona ciutat" />
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/alt_pirineu_aran/"
            image="/assets/images/ccam-alt-pirineu-i-aran.jpg"
            title="Alt Pirineu i Aran" />
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/lleida/"
            image="/assets/images/ccam-comarques-de-lleida.jpg"
            title="Comarques de Lleida" />
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/terres_ebre/"
            image="/assets/images/ccam-terres-ebre.png"
            title="Terres de l'Ebre" />
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/tarragona/"
            image="/assets/images/ccam-comarques-de-tarragona.jpg"
            title="Comarques de Tarragona" />
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/girona/"
            image="/assets/images/ccam-comarques-de-girona.jpg"
            title="Comarques de Girona" />
          <CardRuta
            url="https://ccam.gencat.cat/ca/arees_actuacio/artesania/rutes_artesanes/penedes/"
            image="/assets/images/ccam-penedes.jpg"
            title="Penedès" />
        </ul>
      </div>
    </article>
  </div>
</section>

<style lang="scss">
  @import "../css/global";

  .escola {
    background: linear-gradient(90deg, rgba(3,61,46,1) 0%, rgba(0,104,79,1) 35%, rgba(0,155,118,1) 100%);
    color: $fg-color-light;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper-index-section {

    .cards-rutes {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
      gap: 2rem;
      margin-top: 4rem;
    }

    article {
      max-width: 960px;
    }

    h2 {
      margin-bottom: 2rem;
      font-family: var(--font-title);
      color: $fg-color-title;
    }

    em {
      font-family: var(--font-italianno);
      font-style: normal;
      display: inline-block;
    }

    strong {
      font-weight: normal;
      font-style: italic;
    }

    a {
      font-style: italic;
      text-decoration: underline dotted;
      color: currentColor;
      transition: all .3s ease-in-out;

      svg {
        $size: 12px;
        width: $size;
        height: $size;
        color: currentColor ;
        margin: 0 2px;
      }

      &:hover {
        color: $fg-color-title;
        transition: all .3s ease-in-out;
      }
    }

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 960px;
      padding: 4rem 0;
    }

    .video {
      display: flex;
      flex-direction: column;
      max-width: 560px;
      margin: 4rem auto;

      iframe {
        border-radius: $border-radius;
        box-shadow: var(--box-shadow2);
        margin: .2rem auto;
      }

      a {
        display: block;
        font-size: 14px;
        text-decoration: none;
        color: currentColor;
        font-family: var(--font-cite);
        font-weight: 500;
        font-style: italic;

        &:hover {
          text-decoration: underline dotted;
        }

        svg {
          $size: 12px;
          width: $size;
          height: $size;
          rotate: 0deg;
          opacity: 1;
          margin-left: .2rem;
          color: currentColor;
        }
      }
    }
  }
</style>