---
import Button from "../components/button.astro"

import LogoMetro from "../components/card-transport/logo-metro.astro"
import LogoBus   from "../components/card-transport/logo-bus.astro"
import TransportLine from "./card-transport/transport-line.astro"
import TransportStop from "./card-transport/transport-stop.astro"
import IconMetro from "./card-transport/icon-metro.astro";
import IconBus from "./card-transport/icon-bus.astro";
---

<section class="color-section">
  <div class="wrapper-section">
    <h2>Visita'ns</h2>
    <section>
      <h3>Horaris</h3>
      <ul class="cards-days">
        <li>
          <article class="card-day">
            <div class="day">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <h4>Dimarts</h4>
            </div>
            <div class="hours">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p>10 a 13 hores</p>
            </div>
            <div class="hours">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p>17 a 20 hores</p>
            </div>
          </article>
        </li>
        <li>
          <article class="card-day">
            <div class="day">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <h4>Dimecres</h4>
            </div>
            <div class="hours">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p>10 a 13 hores</p>
            </div>
          </article>
        </li>
        <li>
          <article class="card-day">
            <div class="day">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <h4>Dijous</h4>
            </div>
            <div class="hours">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p>17 a 20 hores</p>
            </div>
          </article>
        </li>
      </ul>
    </section>
    <section class="adapted">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M12 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-.663 2.146a1.5 1.5 0 0 0-.47-2.115l-2.5-1.508a1.5 1.5 0 0 0-1.676.086l-2.329 1.75a.866.866 0 0 0 1.051 1.375L7.361 3.37l.922.71-2.038 2.445A4.732 4.732 0 0 0 2.628 7.67l1.064 1.065a3.25 3.25 0 0 1 4.574 4.574l1.064 1.063a4.732 4.732 0 0 0 1.09-3.998l1.043-.292-.187 2.991a.872.872 0 1 0 1.741.098l.206-4.121A1 1 0 0 0 12.224 8h-2.79l1.903-2.854ZM3.023 9.48a3.25 3.25 0 0 0 4.496 4.496l1.077 1.077a4.75 4.75 0 0 1-6.65-6.65l1.077 1.078Z"/>
      </svg>
      <h3>Local adaptat</h3>
    </section>
    <section>
      <h4>Com arribar</h4>
      <article class="map">
        <a href="https://w33.bcn.cat/planolBCN/ca/guia/address/Sant-Erasme,-1/zoom/3/position/430160,4581423/" title="Enllaça amb el plànol del web de barcelona.cat. Ajuntament de Barcelona." target="_blank">
          <img class="map-img" src="/assets/images/planol.png" alt="Imatge del plànol per arribar al C/Sant Erasme, 1">
        </a>
        <div class="map-legend">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
            </svg>
            <span>C/ Sant Erasme, 1 - Ciutat Vella - 08001 - Barcelona</span>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span>+34 933 296 538</span>
          </div>
        </div>
      </article>
    </section>
    <section>
      <h4>Transport</h4>
      <ul class="cards-transport">
        <li>
          <article class="card-transport">
            <div class="transport-type">
              <div class="transport-logo">
                <LogoMetro />
              </div>
            </div>
            <ul class="transport-lines">
              <li>
                <TransportLine classLine="line-l1" nameLine="L1"/>
              </li>
            </ul>
            <ul class="transport-stop">
              <li>
                <div class="transport-icon-vehicle">
                  <IconMetro />
                </div>
                <div class="transport-station">
                  <TransportStop stop="Universitat - " exit="sortida Sant Antoni"/>
                </div>
              </li>
              <li>
                <div class="transport-icon-vehicle">
                  <IconMetro />
                </div>
                <div class="transport-station">
                  <TransportStop stop="Urgell - " exit="sortida Villarroel/Sepúlveda"/>
                </div>
              </li>
            </ul>
            <ul class="transport-lines">
              <li>
                <TransportLine classLine="line-l2" nameLine="L2"/>
              </li>
            </ul>
            <ul class="transport-stop">
              <li>
                <div class="transport-icon-vehicle">
                  <IconMetro />
                </div>
                <div class="transport-station">
                  <TransportStop stop="Sant Antoni - " exit="sortida Villarroel"/>
                </div>
              </li>
              <li>
                <div class="transport-icon-vehicle">
                  <IconMetro />
                </div>
                <div class="transport-station">
                  <TransportStop stop="Universitat - " exit="sortida Sant Antoni"/>
                </div>
              </li>
            </ul>
          </article>
        </li>
        <li>
          <article class="card-transport">
            <div class="transport-type">
              <div class="transport-logo">
                <LogoBus />
              </div>
            </div>
            <ul class="transport-lines">
              <li>
                <TransportLine classLine="" nameLine="55"/>
                <TransportLine classLine="" nameLine="120"/>
                <TransportLine classLine="" nameLine="141"/>
                <TransportLine classLine="line-d" nameLine="D50"/>
                <TransportLine classLine="line-v" nameLine="V11"/>
                <TransportLine classLine="line-h" nameLine="H16"/>
              </li>
            </ul>
            <ul class="transport-stop">
              <li>
                <div class="transport-icon-vehicle">
                  <IconBus />
                </div>
                <div class="transport-station">
                  <TransportStop stop="Tamarit - Mercat de Sant Antoni" />
                </div>
              </li>
            </ul>
            <ul class="transport-lines">
              <li>
                <TransportLine classLine="" nameLine="52"/>
                <TransportLine classLine="line-h" nameLine="H12"/>
              </li>
            </ul>
            <ul class="transport-stop">
              <li>
                <div class="transport-icon-vehicle">
                  <IconBus />
                </div>
                <div class="transport-station">
                  <TransportStop stop="Gran Via - Urgell"/>
                </div>
              </li>
            </ul>
            <ul class="transport-stop">
              <li>
                <div class="transport-icon-vehicle">
                  <IconBus />
                </div>
                <div class="transport-station">
                  <TransportStop stop="Tamarit - Mercat de Sant Antoni" />
                </div>
              </li>
            </ul>
            <ul class="transport-lines">
              <li>
                <TransportLine classLine="" nameLine="120"/>
              </li>
            </ul>
            <ul class="transport-stop">
              <li>
                <div class="transport-icon-vehicle">
                  <IconBus />
                </div>
                <div class="transport-station">
                  <TransportStop stop="Riera Alta - Nou Dulce"/>
                </div>
              </li>
            </ul>
          </article>
        </li>
      </ul>
    </section>
    <Button typeClass="light" url="#" title="Contacta" />
  </div>
</section>

<style lang="scss">
  @import "../css/global";

  section {
    width: 100%;
  }

  .cards-days {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    /*align-items: center;*/
    justify-content: center;
    align-content: center;
    gap: 2rem;
    margin-top: 1rem;

    .card-day {
      background-color: lighten($bg-dark, 2);
      padding: 2rem;
      border-radius: $border-radius;
      width: 250px;
      height: 150px;
      display: flex;
      flex-direction: column;
      /*justify-content: center;*/
      align-items: center;

      .day {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        svg {
          margin-right: .3rem;
          color: $fg-color-title;
          width: 24px;
          height: 24px;
        }
      }

      .hours {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: .3rem;
          color: $fg-color-title;
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .adapted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      $size: 100px;
      width: $size;
      height: $size;
      color: $fg-color-title;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 32px;
      text-align: center;
    }
  }

  .map {
    img {
      width: 100%;
      max-width: 960px;
      margin: 1rem 0;
      border-radius: $border-radius;
      box-shadow: var(--box-shadow);
      transition: box-shadow .3s ease-in-out;

      &:hover {
        box-shadow: var(--box-shadow2);
        transition: box-shadow .3s ease-in-out;
      }
    }

    .map-legend {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $fg-color-title;

      div {
        display: flex;
        align-items: center;
      }

      svg {
        $size: 14px;
        width: $size;
        height: $size;
        margin-right: .2rem;
      }

      span {
        font-size: 16px;
        line-height: 0;
      }
    }
  }

  .cards-transport {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin-top: 1rem;

    .card-transport {
      background-color : $bg-dark;
      box-shadow       : var(--box-shadow2);
      width            : 275px;
      height           : 416px;
      padding          : 16px;
      border-radius    : $border-radius;
      display          : flex;
      flex-direction   : column;
      align-items      : center;
    }

    .transport-type {
      border-bottom: 1px solid $fg-color-title;
      margin-bottom: 1rem;
      padding-bottom: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .transport-logo {
      width: $size-icon-transport-type;
      height: $size-icon-transport-type;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .transport-lines {
      width: 100%;

      li {
        display: flex;
        gap: 6px;
        width: 100%;
        margin: 12px 0 6px;
      }
    }

    .transport-stop {
      width: 100%;

      li {
        display: flex;
        align-items: center;
        margin: 6px 0 0 12px;
        color: $fg-color-title;

        .transport-icon-vehicle {
          width: $size-icon-transport-vehicle;
          height: $size-icon-transport-vehicle;
        }

        .transport-station {
          line-height: 0;
        }
      }
    }
  }
</style>