---
import Button from "../components/button.astro"
---

<section class="color-section">
  <div class="wrapper-section">
    <h2>Visita'ns</h2>
    <section>
      <h3>Horaris</h3>
      <ul class="cards-days">
        <li>
          <article class="card-day">
            <div class="day">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <h4>Dimarts</h4>
            </div>
            <div class="hours">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p>10 a 13 hores</p>
            </div>
            <div class="hours">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p>17 a 20 hores</p>
            </div>
          </article>
        </li>
        <li>
          <article class="card-day">
            <div class="day">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <h4>Dimecres</h4>
            </div>
            <div class="hours">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p>10 a 13 hores</p>
            </div>
          </article>
        </li>
        <li>
          <article class="card-day">
            <div class="day">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <h4>Dijous</h4>
            </div>
            <div class="hours">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p>17 a 20 hores</p>
            </div>
          </article>
        </li>
      </ul>
    </section>
    <section class="adapted">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M12 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-.663 2.146a1.5 1.5 0 0 0-.47-2.115l-2.5-1.508a1.5 1.5 0 0 0-1.676.086l-2.329 1.75a.866.866 0 0 0 1.051 1.375L7.361 3.37l.922.71-2.038 2.445A4.732 4.732 0 0 0 2.628 7.67l1.064 1.065a3.25 3.25 0 0 1 4.574 4.574l1.064 1.063a4.732 4.732 0 0 0 1.09-3.998l1.043-.292-.187 2.991a.872.872 0 1 0 1.741.098l.206-4.121A1 1 0 0 0 12.224 8h-2.79l1.903-2.854ZM3.023 9.48a3.25 3.25 0 0 0 4.496 4.496l1.077 1.077a4.75 4.75 0 0 1-6.65-6.65l1.077 1.078Z"/>
      </svg>
      <h3>Local adaptat</h3>
    </section>
    <section>
      <h4>Com arribar</h4>
      <article class="map">
        <a href="https://w33.bcn.cat/planolBCN/ca/guia/address/Sant-Erasme,-1/zoom/3/position/430160,4581423/" title="Enllaça amb el plànol del web de barcelona.cat. Ajuntament de Barcelona." target="_blank">
          <img class="map-img" src="/assets/images/planol.png" alt="Imatge del plànol per arribar al C/Sant Erasme, 1">
        </a>
        <div class="map-legend">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
            </svg>
            <span>C/ Sant Erasme, 1 - Ciutat Vella - 08001 - Barcelona</span>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span>+34 933 296 538</span>
          </div>
        </div>
      </article>
    </section>
    <section>
      <h4>Transport</h4>
      <ul class="cards-transport">
        <li>
          <article class="card-transport">
            <div>
              <img src="/assets/images/logo-metro-barcelona.svg" alt="">
            </div>
            <div class="lines">
              <div class="transport-line">
                <p>line</p>
                <p>line</p>
                <p>line</p>
              </div>
              <div class="transport-parada">
                <svg width="17" height="20" viewBox="0 0 17 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.1317 17.2476H13.588C14.1598 17.2476 14.7082 17.0204 15.1125 16.6161C15.5168 16.2118 15.744 15.6634 15.744 15.0916V2.15595C15.744 1.58415 15.5168 1.03578 15.1125 0.631462C14.7082 0.227144 14.1598 0 13.588 0H3.41196C2.84016 0 2.29179 0.227144 1.88747 0.631462C1.48315 1.03578 1.25601 1.58415 1.25601 2.15595V15.0916C1.25601 15.6634 1.48315 16.2118 1.88747 16.6161C2.29179 17.0204 2.84016 17.2476 3.41196 17.2476H3.8683L0.79248 20H2.7508L3.73535 19.1197H13.2826L14.2671 20H16.2075L13.1317 17.2476ZM12.8119 15.9217C12.5987 15.9217 12.3903 15.8584 12.213 15.74C12.0357 15.6215 11.8976 15.4532 11.816 15.2562C11.7344 15.0592 11.713 14.8425 11.7546 14.6334C11.7962 14.4243 11.8989 14.2322 12.0496 14.0815C12.2004 13.9307 12.3925 13.828 12.6016 13.7864C12.8107 13.7448 13.0274 13.7662 13.2244 13.8478C13.4214 13.9294 13.5897 14.0675 13.7082 14.2448C13.8266 14.4221 13.8899 14.6305 13.8899 14.8437C13.8923 14.9859 13.8661 15.1272 13.8128 15.2591C13.7594 15.391 13.6801 15.5108 13.5795 15.6114C13.479 15.7119 13.3592 15.7913 13.2273 15.8446C13.0954 15.8979 12.9541 15.9241 12.8119 15.9217ZM6.08533 0.83004H10.9111C11.0683 0.83004 11.2191 0.892504 11.3303 1.00369C11.4415 1.11488 11.5039 1.26568 11.5039 1.42292C11.5039 1.58017 11.4415 1.73097 11.3303 1.84216C11.2191 1.95335 11.0683 2.01581 10.9111 2.01581H6.08892C5.93168 2.01581 5.78088 1.95335 5.66969 1.84216C5.5585 1.73097 5.49604 1.58017 5.49604 1.42292C5.49604 1.26568 5.5585 1.11488 5.66969 1.00369C5.78088 0.892504 5.93168 0.83004 6.08892 0.83004H6.08533ZM2.33398 9.38196V3.95616C2.33398 3.67027 2.44755 3.39608 2.64971 3.19392C2.85187 2.99176 3.12606 2.87819 3.41196 2.87819H13.588C13.8739 2.87819 14.1481 2.99176 14.3503 3.19392C14.5524 3.39608 14.666 3.67027 14.666 3.95616V9.38196C14.666 9.66786 14.5524 9.94205 14.3503 10.1442C14.1481 10.3464 13.8739 10.4599 13.588 10.4599H3.41196C3.12606 10.4599 2.85187 10.3464 2.64971 10.1442C2.44755 9.94205 2.33398 9.66786 2.33398 9.38196ZM3.11012 14.8617C3.11015 14.6477 3.17385 14.4386 3.29312 14.2609C3.41238 14.0833 3.58181 13.9452 3.77983 13.8641C3.97785 13.7831 4.19551 13.7628 4.40509 13.8059C4.61468 13.849 4.8067 13.9534 4.95672 14.106C5.10673 14.2586 5.20796 14.4523 5.2475 14.6626C5.28704 14.8729 5.26312 15.0902 5.17877 15.2868C5.09441 15.4834 4.95345 15.6505 4.77384 15.7668C4.59422 15.883 4.38406 15.9432 4.17013 15.9396C4.0294 15.9397 3.89008 15.9117 3.76029 15.8573C3.6305 15.8029 3.51284 15.7232 3.41417 15.6228C3.3155 15.5225 3.2378 15.4035 3.1856 15.2728C3.13339 15.1421 3.10774 15.0024 3.11012 14.8617ZM5.14749 17.8261L5.78709 17.2476H11.2237L11.8381 17.8261H5.14749Z"/>
                  </svg>
                <p>Parada <span>Baixada</span></p>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="card-transport">
            <div>
              <img src="/assets/images/logo-bus-barcelona.svg" alt="">
            </div>
            <div class="lines">
              <div class="transport-line">
                <p>line</p>
                <p>line</p>
                <p>line</p>
              </div>
              <div class="transport-parada">
                <svg width="17" height="20" viewBox="0 0 17 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.1317 17.2476H13.588C14.1598 17.2476 14.7082 17.0204 15.1125 16.6161C15.5168 16.2118 15.744 15.6634 15.744 15.0916V2.15595C15.744 1.58415 15.5168 1.03578 15.1125 0.631462C14.7082 0.227144 14.1598 0 13.588 0H3.41196C2.84016 0 2.29179 0.227144 1.88747 0.631462C1.48315 1.03578 1.25601 1.58415 1.25601 2.15595V15.0916C1.25601 15.6634 1.48315 16.2118 1.88747 16.6161C2.29179 17.0204 2.84016 17.2476 3.41196 17.2476H3.8683L0.79248 20H2.7508L3.73535 19.1197H13.2826L14.2671 20H16.2075L13.1317 17.2476ZM12.8119 15.9217C12.5987 15.9217 12.3903 15.8584 12.213 15.74C12.0357 15.6215 11.8976 15.4532 11.816 15.2562C11.7344 15.0592 11.713 14.8425 11.7546 14.6334C11.7962 14.4243 11.8989 14.2322 12.0496 14.0815C12.2004 13.9307 12.3925 13.828 12.6016 13.7864C12.8107 13.7448 13.0274 13.7662 13.2244 13.8478C13.4214 13.9294 13.5897 14.0675 13.7082 14.2448C13.8266 14.4221 13.8899 14.6305 13.8899 14.8437C13.8923 14.9859 13.8661 15.1272 13.8128 15.2591C13.7594 15.391 13.6801 15.5108 13.5795 15.6114C13.479 15.7119 13.3592 15.7913 13.2273 15.8446C13.0954 15.8979 12.9541 15.9241 12.8119 15.9217ZM6.08533 0.83004H10.9111C11.0683 0.83004 11.2191 0.892504 11.3303 1.00369C11.4415 1.11488 11.5039 1.26568 11.5039 1.42292C11.5039 1.58017 11.4415 1.73097 11.3303 1.84216C11.2191 1.95335 11.0683 2.01581 10.9111 2.01581H6.08892C5.93168 2.01581 5.78088 1.95335 5.66969 1.84216C5.5585 1.73097 5.49604 1.58017 5.49604 1.42292C5.49604 1.26568 5.5585 1.11488 5.66969 1.00369C5.78088 0.892504 5.93168 0.83004 6.08892 0.83004H6.08533ZM2.33398 9.38196V3.95616C2.33398 3.67027 2.44755 3.39608 2.64971 3.19392C2.85187 2.99176 3.12606 2.87819 3.41196 2.87819H13.588C13.8739 2.87819 14.1481 2.99176 14.3503 3.19392C14.5524 3.39608 14.666 3.67027 14.666 3.95616V9.38196C14.666 9.66786 14.5524 9.94205 14.3503 10.1442C14.1481 10.3464 13.8739 10.4599 13.588 10.4599H3.41196C3.12606 10.4599 2.85187 10.3464 2.64971 10.1442C2.44755 9.94205 2.33398 9.66786 2.33398 9.38196ZM3.11012 14.8617C3.11015 14.6477 3.17385 14.4386 3.29312 14.2609C3.41238 14.0833 3.58181 13.9452 3.77983 13.8641C3.97785 13.7831 4.19551 13.7628 4.40509 13.8059C4.61468 13.849 4.8067 13.9534 4.95672 14.106C5.10673 14.2586 5.20796 14.4523 5.2475 14.6626C5.28704 14.8729 5.26312 15.0902 5.17877 15.2868C5.09441 15.4834 4.95345 15.6505 4.77384 15.7668C4.59422 15.883 4.38406 15.9432 4.17013 15.9396C4.0294 15.9397 3.89008 15.9117 3.76029 15.8573C3.6305 15.8029 3.51284 15.7232 3.41417 15.6228C3.3155 15.5225 3.2378 15.4035 3.1856 15.2728C3.13339 15.1421 3.10774 15.0024 3.11012 14.8617ZM5.14749 17.8261L5.78709 17.2476H11.2237L11.8381 17.8261H5.14749Z"/>
                  </svg>
                <p>Parada <span>Baixada</span></p>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </section>
    <Button typeClass="light" url="#" title="Contacta" />
  </div>
</section>

<style lang="scss">
  @import "../css/global";

  section {
    width: 100%;
  }

  .cards-days {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    /*align-items: center;*/
    justify-content: center;
    align-content: center;
    gap: 2rem;
    margin-top: 1rem;

    .card-day {
      background-color: lighten($bg-dark, 2);
      padding: 2rem;
      border-radius: $border-radius;
      width: 250px;
      height: 150px;
      display: flex;
      flex-direction: column;
      /*justify-content: center;*/
      align-items: center;

      .day {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        svg {
          margin-right: .3rem;
          color: $fg-color-title;
          width: 24px;
          height: 24px;
        }
      }

      .hours {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: .3rem;
          color: $fg-color-title;
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .adapted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      $size: 100px;
      width: $size;
      height: $size;
      color: $fg-color-title;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 32px;
      text-align: center;
    }
  }

  .map {

    img {
      width: 100%;
      max-width: 960px;
      margin: 1rem 0;
      border-radius: $border-radius;
      box-shadow: var(--box-shadow);
      transition: box-shadow .3s ease-in-out;

      &:hover {
        box-shadow: var(--box-shadow2);
        transition: box-shadow .3s ease-in-out;
      }
    }

    .map-legend {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $fg-color-title;

      div {
        display: flex;
        align-items: center;
      }

      svg {
        $size: 14px;
        width: $size;
        height: $size;
        margin-right: .2rem;
      }

      span {
        font-size: 14px;
        line-height: 0;
      }
    }
  }

  .cards-transport {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin-top: 1rem;

    .card-transport {
      background-color: $bg-dark;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      width: 275px;
      height: 275px;

      .lines {
        background-color: chocolate;
        margin-top: .5rem;
        width: 100%;
      }

      img {
        height: 48px;
      }

      .transport-line {
        display: flex;
        align-items: center;
        gap: .5rem;
      }

      .transport-parada {
        display: flex;
        align-items: center;
        gap: .2rem;
      }
    }
  }
</style>